:root{
  --blue-primary: #228a95;
  --blue-secundary: #187680;
  --orange-primary: #ef9c4b;
  --orange-secundary: #fd8030;
  --typography: #777777;
  --background: #eeeeee;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  border-radius: 0;
  background: transparent;
}

html {
  font-size: 62.5%;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}